body {
    background-color: lightblue;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0 0 0 50px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
}

.sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
}
#reset {
    border-radius: 10px;
    width: 100px;
    box-shadow: 2px 2px black;
    margin: 20px;
    cursor: pointer;
    position: absolute;
    left: 135px;
}
#reset:hover {
    transform: scale(1.05);
}





